body {
    background-color: $white;
}

.page-width {
    width: 820px;
    margin: 0 auto;
}

.external-link {
    cursor: pointer;
    color: $green;
    font-family: $sans-bold;

    .fa {
        color: $navy;
    }
}

.external-link:hover {
    color: $navy;
}