.github-stats {

    h5 {
        text-align: center;
    }

    .gh-item {        
        .gh-icon {
            display: inline-block;
            width: 30px;
            height: 15px;
            margin-top: 4px;
        }

        .gh-merge {
            background-image: asset-url("git-merge.svg");
            background-size: 13px 15px;
            background-repeat: no-repeat;
        }

        .gh-commit {
            background-image: asset-url("git-commit.svg");
            background-size: 13px 15px;
            background-repeat: no-repeat;
        }

        .gh-info {
            display: inline-block;
            vertical-align: top;
            width: 480px;

            .gh-message {
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        hr {
            margin: 3px 0;
        }

    }

    .gh-item:last-child hr {
        display: none;
    }
}

