header.header {
    background-color: $black;

    .nav-bar {
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-link {
            text-decoration: none;

            .logo {
                font-family: $logo;
                font-size: 28px;
                color: $light-grey;
                margin: 0;
                position: relative;
                top: 3px;
            }

            .sub-logo {
                color: $light-grey;
                margin: 0;
                position: relative;
                bottom: 5px;
            }
        }

        .home-link:hover {
            .logo, .sub-logo {
                color: $grey;
            } 
        }


        .nav-menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 0;
            height: 100%;

            .header-link {
                box-sizing: border-box;
                margin-bottom: 0;
                list-style: none;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-right: 10px;
                
                a {
                    font-size: 20px;
                    text-decoration: none;
                    color: $grey;
                }

                a:hover {
                    color: $light-grey;
                }
            }

            .header-link:hover {
                border-bottom: 3px solid red;
            }
        }
    }
}