header.header {
    background-color: $blue;
    position: fixed;
    bottom: 0;
    width: 100%;

    .nav-bar {
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-link {
            text-decoration: none;

            .logo {
                font-family: $logo;
                font-size: 44px;
                color: $white;
                margin: 0;
                position: relative;
                top: 3px;
            }

            .sub-logo {
                font-size: 20px;
                color: $white;
                margin: 0;
                width: 100%;
                text-align: right;
                position: relative;
                bottom: 7px;
            }
        }

        .home-link:hover {
            .logo, .sub-logo {
                color: $grey;
            } 
        }


        .nav-menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 0;
            height: 100%;

            .header-link {
                box-sizing: border-box;
                margin-bottom: 0;
                list-style: none;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 10px;
                margin-right: 10px;
                
                a {
                    font-size: 26px;
                    text-decoration: none;
                    color: $white;
                }

                .active-link {
                    color: $turquoise;
                }
            }

            .header-link:hover {
                border-bottom: 5px solid $turquoise;
            }
        }
    }
}