section.section {
    background-color: $grey;
    padding: 20px;
    box-sizing: border-box;

    .content-title {
        font-family: $sans-bold;
        font-size: 30px;
    }

    .content-body {
        font-family: $sans-serif;
    }
}