$column-width: 350px;
$column-height: 500px;
$item-spacing: 20px;


section.section {
    background-color: $grey;
    padding: $item-spacing;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 150px;
    width: fit-content;
    display: flex;
    justify-content: space-between;

    .self {
        background-color: blue;
        width: $column-width;
        height: 400px;
        float: left;
        margin-right: $item-spacing;
    }

    .portal {
        float: left;
        width: $column-width;

        .portal-top {
            background-color: red;
            margin-bottom: $item-spacing;
            height: calc((100% - #{$item-spacing}) / 2);
        }

        .portal-bottom {
            background-color: purple;
            height: calc((100% - #{$item-spacing}) / 2);
        }
    }
}