.project-page {
    width: 780px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 100px 70px 100px 70px;;
    background-color: white;
    font-family: $sans-serif;
    font-size: 1.2em;
    border-radius: 10px;

    .title-bar {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $sans-bold;
    }

    img {
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
        max-width: 700px;
    }

    .header-img {
        height: auto;
    }
}