.wakatime-stats {
    height: 100%;
    
    h6 {

        text-align: center;
    }
}

.tooltip {
    background-color: #CCDCF1;
    border: 1px solid #2F588D;
    padding: 5px;

    p {
        margin: 0;
    }
}